* {
    margin: 0;
    padding: 0;
}

body
{
    direction: rtl;
    padding: 50px;
}
div {
    font-size: 14px;
    line-height: 1.5;
}
.center {
    text-align: center;
}
table {
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
    border-spacing: unset;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
td {
    text-align: center;
    padding: 2px;
    border: 1px solid black;
}
/*table td:nth-child(4) {
    width: 100px;
}
table td:nth-child(2) {
    width: 170px;
}
table td:nth-child(3) {
    width: 170px;
}
table td:nth-child(7) {
    width: 170px;
}*/
.end {
    margin-top: 10px;
    font-weight: bold;
}